@import url(http://fonts.googleapis.com/css?family=Gabriela);

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: #41b3a3;
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 40px;
}

#content {
  padding: 20px;
  background: linear-gradient(#c38d9e,  #e8a87c);
}

h1, h2 {
  font-family: 'Gabriela', serif;
  text-shadow: 3px 1px #c38d9e;
  color: #e27d60 ;
}

h1 {
  font-size: 4.5em;
  margin-bottom: 0;
  
}

h2 {
  font-size: 1.5em;
  margin-top: .5em;
  color: #674c54;
  text-shadow: 1px 1px #e27d60;
}

h3 {
  font-family: 'Gabriela', serif;
  font-size: 1.5em;
  margin-top: .5em;
  color: rgb(5, 51, 69);
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

p {
  font-size: 1em;
  font-weight: bold;
}

a {
  color: rgb(10, 77, 66);
  text-decoration: none;
  display: block;
  font-weight: bold;
  margin-bottom: 1em;
}

a:hover {
  text-decoration: underline;
  font-size: larger;
}

@media only screen and (max-width: 1042px) {
  .wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 784px) {
  body {
    font-size: 120%;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1em;
  }
  .wrapper {
    width: 95%;
  }
}
